* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  body{
    background-color: #F8F8F8;
  }
  .ParPar{
    background: url(../imgs/parkingss.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .AccuBG{
    background: url(../imgs/accueil.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .TraBg{
    background: url(../imgs/trajet.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .ConBG{
    background: url(../imgs/contact.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1e3557;
    color: #F8F8F8;
    height: 60px;
    padding: 10px;
    gap: 5px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .espace{
    width: 100%;
    height: 50px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .menuadmin{ 
  display: flex;
  flex-direction: row;
  list-style-type: none;
  }
  @media (max-width: 960px) {
    .menuadmin li{ 
      font-size: 12px ;
      }
  }

  
  nav li{
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0 15px;
      overflow: hidden;
  }
  nav li a{
      color: #F8F8F8;
      text-decoration: none;
      font-size: 19px;
      font-family: 'Biryani', sans-serif;
  }

.logos{
  display: flex;
  align-items: center;
}
.logo{
    height: 30px;
}
.titrelogo{
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
}

.conection{
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
}
.conection a{
  color: #F8F8F8;
  text-decoration: none;
  font-weight: bold;
}
.pasco{
    display: block;
    display: flex;
    width: 130px;
    background-color: #ff6600;
    border-radius: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.co{
    display: flex;
    width: 175px;
    background-color: #ff6600;
    border-radius: 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.co p{
  width: 100%;
  margin: 0px 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.deroule{
  display: none;
}
.deroule a{
  color: #F8F8F8;
  text-decoration: none;
  font-weight: bold;
}
.conection:hover .deroule{
  display: block;
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  width: 100% ;
  height: 100px;
  flex-direction: column;
  background-color: #ff6600;
  position: absolute;
  top: 35px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.co:hover{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}



  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 3;
    padding: 25px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #F8F8F8;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
}

.Accueil{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 6vw;
  margin-bottom: 0px;
}
.Atexte{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
  max-width: 920px;
  min-width: 300px;
}
.Atexte h1{
  padding: 0;
  font-size: 70px;
}
.Atexte h2{
  font-size: 40px;
}
.Atexte p{
  font-size: 20px;
}
.Atexte div{
  display: flex;
  gap: 30px;
}
.Aforme{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 50px;
  min-width: 450px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
  opacity: 0.8;
  z-index: 1;
}
.Aforme form{
  background-color: transparent;
}

.container{
  margin: 20px;
}
.profil{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);  
    border-radius: 20px;
    padding: 20px;
}
form h2{
  font-size: 40px;
  padding: 15px;
}
.champ{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.champ input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
textarea{
    margin-left: 10px;
    border: none;
    background-color: transparent;
}
.deuxchamp{
    display: flex;
    width: 100%;
    height: 59px;
    gap: 50px;
}
.champ2{
    width: 175px;
    height: 59px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #181818;
}
.champ2 input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.troischamp{
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #181818;
    height: 160px;
}
.champgauche{
    display: flex;
    flex-direction: column;
    width: 175px;
    gap: 25px;
}
.champgauche input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.champgauche .champ2{
    border: none;
}
.champdroite{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 143px;
}
.ins{
  color: black;
  font-size: 15px;
}
.ins a{
  color: black;
}
#env{
    width: 150px;
    border: none;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff6600;
    margin-bottom: 10px;
}
form label{
    margin-bottom: 14px;
    font-size: 12px;
    font-weight: 600;
}
.ligne{
    margin-top: 10px;
    border-top: 1px solid #181818;
    height: 1px;
    width: 100%; 
}
.photo-preview {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.Champsaccuiel{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.galery{
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: 520px;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  gap: 15px;
}
.gestion{
  display: flex;
  flex-direction: column;
  margin: 0px 20px; 
  padding: 20px 10px;
  gap: 10px;
  background-color: #1e3557;
  color: black;
  border-radius: 20px;
  width: 90%;
}
.aa{
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  font-size: 18px;
  margin-bottom: 5px;
  color: #F8F8F8;
}
.bb{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  gap: 20px;
  background-color: #fff;
  border-radius: 50px;
  height: 50px;
}
.bb div{
  display: flex;
  align-items: center;
  justify-content: center ;
  text-align: center;
  width: 20%;
} 
.boutons{
  display: flex;
  justify-content: flex-end  !important;
  gap: 20px;
}
.boutons a{
  display: flex;
}
.boite{
  min-width: 300px;
  width: 50vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1e3557;
  color: #F8F8F8;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.boite form{
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.ville{
  width: 40%;
}
.villo{
  margin: 0px 10px;
}
.petite{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
}
.tra{
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 24px;
}
.DéAr{
  width: 100%;
  display: flex;
  font-size: 18px;
}
.Départt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 5px;
}
.Ari{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  gap: 5px;
}
.containerrr {
  position: relative;
  height: 10px;
  width: 100px;
}

.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F8F8F8;
  position: absolute;
  top: -5x;
  left: 0;
}
.point2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F8F8F8;
  position: absolute;
  top: 0px;
  right: -5px;
}

.barre {
  width: 85%;
  height: 8px;
  background-color: #F8F8F8;
  position: absolute;
  top: 8px;
  left: 10px;
  transform: translateY(-50%);
}
.boiStats{
  display: flex;
  margin: 15px;
  font-size: 20px;
  gap: 20px;
}
.toigauche{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.TUsa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #1e3557;
  gap: 10px;
  color: #F8F8F8;
}
.TUsa span{
  font-size: 70px;
  color: #ff6600;
}
.long{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 620px;
  border-radius: 20px;
  background-color: #1e3557;
  gap: 10px;
  color: #F8F8F8;
  text-align: center;
}
.long span{
  font-size: 70px;
  color: #ff6600;
}
.champion{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 620px;
  margin: 0px 20px;
  height: 250px;
  border-radius: 20px;
  background-color: #1e3557;
  color: #F8F8F8;
  text-align: center;
  font-size: 20px;
}
.champion span{
  font-size: 40px;
  color: #ff6600;
}

@media (max-width: 1150px) {
  .Accueil{
    flex-direction: column;
  }
  .Atexte{
    gap: 50px;
  }
  .Atexte h1{
    text-align: center;
  }
  .Atexte div{
    justify-content: center;
  }
  .tra{
      font-size: 17px;
  }
  .petite {
    font-size: 15px;
  }
  .DéAr {
    font-size: 14px;
  }

}
@media (max-width: 780px) {
  .menu-button-container {
    display: flex;
  }
  .boiStats{
    flex-direction: column;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 75px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: left;
    width: 100%;
    color: white;
    background-color: #1e3557;
  }
  .menu > li > a{
    margin-left: 20px;
  }
  .pasco{
    display: none;
  }
  .Accueil{
    margin: 25px;
  }
  .bb{
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  h1 {
    padding: 40px;
    font-size: 45px;
  }
  .titrelogo{
    display: none;
  }
  .Accueil {
    margin: 0px;
  }
  .Atexte {
    gap: 35px;
  }
  .Atexte h1 {
    font-size: 54px;
  }
  .Atexte h2 {
    font-size: 27px;
    text-align: center;
  }
  .Atexte p {
    font-size: 18px;
  }
  #env{
    width: 125px;
    height: 45px;
  }
  .Aforme {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    min-width: 0px ;
  }
  .Aforme form {
    margin: 0px;
  }
  form {
    gap: 20px;
  }
  form h2 {
    font-size: 27px;
    padding: 10px;
  }
  .ins {
    text-align: center;
    line-height: 23px;
  }
  .champ2 {
    width: 110px;
  }
  .champgauche {
    width: auto;
  }
  .champgauche {
    width: 110px;
  }
  .troischamp {
    gap: 0px;
  }

}