* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9CA777;
    color: #FFF;
    height: 60px;
    padding: 10px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  nav li{
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 10px;
      margin: 0 30px;
       overflow: hidden;
  }
  nav li a{
      color: white;
      text-decoration: none;
      font-size: 19px;
      font-family: 'Biryani', sans-serif;
  }
.logo img{
    width: 140px;
    margin-top: 5px;
}
.co{
    display: flex;
    width: 140px;
    justify-content: center;
}
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 750px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    padding: 50px;
    font-size: 40px;
    font-weight: 700;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 35px;
    align-items: center;
}
.champ{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.champ input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
textarea{
    margin-left: 10px;
    border: none;
}
.deuxchamp{
    display: flex;
    width: 100%;
    height: 59px;
    gap: 50px;
}
.champ2{
    width: 175px;
    height: 59px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #181818;
}
.champ2 input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.troischamp{
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #181818;
    height: 160px;
}
.champgauche{
    display: flex;
    flex-direction: column;
    width: 175px;
    gap: 25px;
}
.champgauche input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.champgauche .champ2{
    border: none;
}
.champdroite{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 143px;
}
#env{
    width: 200px;
    border: none;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}
form label{
    margin-bottom: 14px;
    font-size: 12px;
    font-weight: 600;
}
.ligne{
    margin-top: 10px;
    border-top: 1px solid #181818;
    height: 1px;
    width: 100%; 
}
.photo-preview {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}